@keyframes mint-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.spinner-snake {
  animation: mint-spinner-rotate 0.8s infinite linear;
  border: 4px solid rgba(0, 0, 0, 0.7);
  border-top-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.loading-tip {
  line-height: 3;
  font-size: 16px;
  color: #555;
}
